/* General */
body {
    color: white;
    background-color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    margin: 0;
}  

/* Exclusivo Encabezado */
header {
    padding: 25px;
    text-align: center;
    background: #000000;
    font-size: 30px;
}
header b{
    color: red;
}

/* Exclusivo Nav Bar */
nav {
    background-color: #000000;
    overflow: hidden;
    text-align:center;
}

nav a {
    color: white;
    padding: 1px 30px;
    text-decoration: none;
    font-size: 25px;
}

nav a:hover {
    background-color: #8d8d8d;
    color: black;
}

nav a.activo {
    background-color: white;
    color: black;
}

.container {
    width: 100%;
}

p,ul, li {
    background-color: #000000;
    overflow: hidden;
    text-align:center;
    width: 100%;
    margin:0 auto;

}

/* Exclusivo Footer */
footer {
    background-color: #000000;
    overflow: hidden;
    text-align:center;
}

.icono-container a{
    color: white;
    text-decoration: none;
    font-size: 55px;
    padding: 20px;
    text-align: center;
}

.creditos-sitio a{
    font-size: 16px;
    vertical-align: middle;
}
.creditos-sitio img {
    max-width: 40px; 
    margin-left: 5px;
    vertical-align: middle;
}

footer hr {
    width:50%;
    border: 0;
    border-top: 4px double white;
}

/* Estilo personalizado para los botones danger */
.btn-danger {
    background-color: red;
    /* Puedes ajustar otros estilos según tus preferencias */
    color: white; /* Texto en blanco para que sea legible sobre el fondo rojo */
    border-color: red; /* Color del borde */
}

table {
    margin: 0 auto; /* Centrar la tabla */
    max-width: 80%; /* Ancho máximo del 80% en escritorio */
    width: 100%;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
    body {
        max-width: 90%; /* Ancho completo en dispositivos móviles */
        margin: 0 auto;
    }
}