<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Metadatos para SEO -->
    <title>Quienes Somos</title> 
    <meta name="description" content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta name="keywords" content="Gestión de presupuestos audiovisuales, elaboración de presupuestos
    Planificación de producción, Control de gastos de produccion cine, producción filmica, Subsidios INCAA, Cotización video, presupuesto pelicula, presupuesto casting, presupuesto set filmación, Producción audiovisual">
    <meta name="author" content="PresupuestAR Equipo 10 CODOaCODO">
    
    <!-- Metadatos para Open Graph (OG) - Facebook -->
    <meta property="og:title" content="Quienes Somos PresupuestAR">
    <meta property="og:description" content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="nosotros">
    <meta property="og:image" content="presupuestar-imageninicio.jpeg">
    
    <!-- Metadatos para Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Quienes Somos PresupuestAR">
    <meta name="twitter:description" content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta name="twitter:image" content="presupuestar-imageninicio.jpeg">
    <meta name="twitter:site" content="@presupuestARteam10">
    <!-- Styles Sitio -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">

    
</head>

<body>
    <div class="menu-toggle hidden">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav class="nav">
        <a class="agranda" href="inicio" title="inicio">INICIO</a>
        <a class="agranda" href="nosotros" title="Quienes Somos">QUIENES SOMOS</a>
        <a class="agranda" href="producto" title="Producto">PRODUCTO</a>
        <a class="agranda" href="clientes" title="Clientes">CLIENTES</a>
        <a class="agranda" href="contacto" title="Contacto">CONTACTO</a>
    </nav>
    <nav class="nav show-menu hidden">
        <div class="close-button"></div>
        <img href="inicio" src="{{ url_for('static', filename='images/play-presupuestAR.png') }}" alt="logo PresupuestAR">
        <ul>
            <li><a href="inicio" title="inicio">INICIO</a></li>
            <li><a href="nosotros" title="Quienes Somos">QUIENES SOMOS</a></li>
            <li><a href="producto" title="Producto">PRODUCTO</a></li>
            <li><a href="clientes" title="Clientes">CLIENTES</a></li>
            <li><a href="contacto" title="Contacto">CONTACTO</a></li>
        </ul>
    </nav>


    <header>
            <h1>Presupuest<b class="ar">AR</b></h1>
        <h3>Gestión de presupuestos audiovisuales</h3>
    </header>

    <div class="container">
        <form action="/login" method="POST">
            <h2>Iniciar Sesión</h2>
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
            <label for="username">Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="Iniciar Sesión">
        </form>

    <footer>
        <hr>
        <div class="icono-container">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <p class="creditos-sitio">Desarrollado por <a href="#"><img src="{{ url_for('static', filename='images/equipo-10-python-50px.png') }}"
                        alt="Equipo 10 COM 23510"></a></p>
        </div>

    </footer>
      <!-- Include JavaScript file for the testimonial slider -->
      <script src="{{ url_for('static', filename='js/testimonials.js') }}"></script>
      <!-- Include JavaScript file for the hamburguer menu -->
      <script src="{{ url_for('static', filename='js/hamburguer.js') }}"></script>
      <!-- Include JavaScript file for the remove hidden class -->
      <script src="{{ url_for('static', filename='js/hiddenremover.js') }}"></script>
</body>

</html>