<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Metadatos para SEO -->
    <title>Producto - PresupuestAR</title>
    <meta name="description"
        content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta name="keywords"
        content="Gestión de presupuestos audiovisuales, elaboración de presupuestos
    Planificación de producción, Control de gastos de produccion cine, producción filmica, Subsidios INCAA, Cotización video, presupuesto pelicula, presupuesto casting, presupuesto set filmación, Producción audiovisual">
    <meta name="author" content="PresupuestAR Equipo 10 CODOaCODO">

    <!-- Metadatos para Open Graph (OG) - Facebook -->
    <meta property="og:title" content="Producto - PresupuestAR">
    <meta property="og:description" content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta property="og:type" content="website">
    <meta property="og:url" content="producto">
    <meta property="og:image" content="presupuestar-imageninicio.jpeg">

    <!-- Metadatos para Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Producto - PresupuestAR">
    <meta name="twitter:description" content="Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR">
    <meta name="twitter:image" content="presupuestar-imageninicio.jpeg">
    <meta name="twitter:site" content="@presupuestARteam10">
    
    <!-- Styles Sitio -->
    <link rel="stylesheet" href="{{ url_for('static', filename='general.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="icon" href="../favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap">


</head>

<body>
    <div class="menu-toggle hidden">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <nav class="nav">
        <a class="agranda" href="inicio" title="inicio">INICIO</a>
        <a class="agranda" href="nosotros" title="Quienes Somos">QUIENES SOMOS</a>
        <a class="agranda activo" href="producto" title="Prodcuto">PRODUCTO</a>
        <a class="agranda" href="clientes" title="Clientes">CLIENTES</a>
        <a class="agranda" href="contacto" title="Contacto">CONTACTO</a>
    </nav>
    <nav class="nav show-menu hidden">
        <div class="close-button"></div>
        <img href="inicio" src="{{ url_for('static', filename='images/play-presupuestAR.png') }}" alt="logo PresupuestAR">
        <ul>
            <li><a href="inicio" title="inicio">INICIO</a></li>
            <li><a href="nosotros" title="Quienes Somos">QUIENES SOMOS</a></li>
            <li><a href="producto" title="Producto">PRODUCTO</a></li>
            <li><a href="clientes" title="Clientes">CLIENTES</a></li>
            <li><a href="contacto" title="Contacto">CONTACTO</a></li>
        </ul>
    </nav>


    <header>
        <h1>Presupuest<b class="ar">AR</b></h1>
        <h3>Gestión de presupuestos audiovisuales</h3>
    </header>

    <div>
        <h2>TU PRESUPUESTO EN BUENAS MANOS</h2>
        <h3>Soluciones integrales para que tu equipo de producción audiovisual solo se ocupe de una cosa: CREAR</h3>
    </div>

    <div class="descripcion-producto">
        <div>
            <img src="{{ url_for('static', filename='images/productos/presupuesto.jpg') }}" alt="presupuestAR serivicio" title="Elaboración de presupuesto" width="">
            <div>
                <h3>Elaboración de presupuestos integrales para todas las etapas de producción.</h3><br>
                <p>Nuestros profesionales tienen amplia experiencia en el armado de presupuestos integrales para las
                    etapas
                    de planificación, producción y postproducción.</p><br>
                <p>Cada presupuesto se adapta a las necesidades de la productora y se elabora a partir de reuniones de
                    trabajo con el equipo técnico a cargo del proyecto.</p><br>
                <p>Siguiendo los lineamientos del guion, PresupuestAR optimiza los tiempos de rodaje ahorrando recursos
                    sin resignar calidad.</p>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/productos/cine.jpg') }}" alt="seguimiento gastos" title="Claqueta en monitor" width="">
            <div>
                <h3>Seguimiento de los gastos en tiempo real</h3><br>
                <p>Generamos calendarios de producción precisos, basados en los materiales y recursos humanos
                    disponibles.
                </p><br>
                <p>El control de gastos en tiempo real implica la centralización de todos los movimientos y gastos
                    relacionados con el proyecto audiovisual realizados por los usuarios expresamente autorizados. De
                    esta
                    manera, la información se centraliza en un único sistema, ágil y de fácil acceso para los
                    responsables
                    de finanzas</p><br>
                <p>Además, el control de gastos en tiempo real genera una percepción de transparencia y eficiencia tanto
                    para los miembros de la empresa como para los inversores.</p>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', filename='images/productos/financiacion.jpeg') }}" alt="financiacion proyectos" title="Celuloide y dinero" width="">
            <div>
                <h3>Gestión de financiación</h3><br>
                <p>Te asesoramos en la gestión de financiamiento tanto público como privado.</p><br>
                <p>Brindamos apoyo en la elaboración de proyectos para aplicar al Programa FILM.AR y la gestión de subsidios
                    por parte del INCAA</p><br>
                <p>Evaluamos posibles inversores privados mediante la instrumentación de fideicomisos financieros de oferta
                    pública o privada.</p><br>
                <p>El largo plazo es un factor de riesgo, por lo que contar con un asesor especializado ayudará a asegurar
                    la financiación y evitará otros impactos financieros.</p>
            </div>
        </div>

    </div>

    <p style="text-align: center;">Contáctanos para obtener una cotización personalizada.</p>

    <footer>
        <hr>
        <div class="icono-container">
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-instagram"></a>
            <p class="creditos-sitio">Desarrollado por <a href="#"><img src="{{ url_for('static', filename='images/equipo-10-python-50px.png') }}"
                        alt="Equipo 10 COM 23510"></a></p>
        </div>
    </footer>
      <!-- Include JavaScript file for the testimonial slider -->
      <script src="{{ url_for('static', filename='js/testimonials.js') }}"></script>
      <!-- Include JavaScript file for the hamburguer menu -->
      <script src="{{ url_for('static', filename='js/hamburguer.js') }}"></script>
      <!-- Include JavaScript file for the remove hidden class -->
      <script src="{{ url_for('static', filename='js/hiddenremover.js') }}"></script>
</body>

</html>